{% extends 'base.html' %}

{% block title %}
  اوقات شرعی
{% endblock %}
{% block header %}
  اوقات شرعی
{% endblock %}

{% block content %}
  <div class="row md-3">
    <div class="col-12 col-md-6 p-3">
      <div class="card h-100 text-center">
        <div class="card-body d-flex align-items-center justify-content-between">
          <label for="state" class="form-label fw-bold mb-0 me-2 ms-2">استان:</label>
          <select class="form-select bg-transparent text-white border-0 flex-grow-1" id="state">
            <option selected>تهران</option>
            <option value="1">البرز</option>
            <option value="2">نجف اشرف</option>
            <option value="3">کربلا معلی</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 p-3">
      <div class="card h-100 text-center">
        <div class="card-body d-flex align-items-center justify-content-between">
          <label for="city" class="form-label fw-bold mb-0 me-2 ms-2">شهر:</label>
          <select class="form-select bg-transparent text-white border-0" id="city">
            <option selected>تهران</option>
            <option value="1">البرز</option>
            <option value="2">نجف اشرف</option>
            <option value="3">کربلا معلی</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div id="prayerTimes"></div>
  <div class="loading" id="loading" style="display: none;">
    <div class="loading-icon"></div>
    <p>در حال دریافت اطلاعات</p>
  </div>
  <footer>
    <p>
      منبع: <a href="https://prayer.aviny.com">https://prayer.aviny.com</a>
    </p>
  </footer>
  <div class="row md-1">
    <div class="col-12 col-md-6 col-lg-4 p-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">اذان صبح: 04:30</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">طلوع آفتاب: 06:58</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">اذان ظهر: 12:05</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">غروب آفتاب: 16:58</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">اذان مغرب: 17:18</h5>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 p-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">نیمه شب شرعی: 23:18</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col p-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center">تا اذان مغرب: 02:08:22</h5>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const citySelector = document.getElementById('city');
    const prayerTimesDiv = document.getElementById('prayerTimes');
//      const lastUpdated = document.getElementById('lastUpdated');
    const loadingDiv = document.getElementById('loading');

    const savedCityCode = getCookie('cityCode');
    if (savedCityCode) {
        citySelector.value = savedCityCode;
        fetchPrayerTimes(savedCityCode);
    } else {
        // Initial fetch for Tehran (default city)
        fetchPrayerTimes('1');
    }

    citySelector.addEventListener('change', function () {
      const cityCode = this.value;
      setCookie('cityCode', cityCode, 30); // Save city code in cookies for 30 days
      fetchPrayerTimes(cityCode);
  });

  function fetchPrayerTimes(cityCode) {
    showLoading(true);
    fetch(`https://prayer.aviny.com/api/prayertimes/${cityCode}`)
        .then(response => response.json())
        .then(data => {
            showLoading(false);
            updatePrayerTimes(data, cityCode);
        })
        .catch(error => {
            showLoading(false);
            showError();
        });
}
</script>
{% endblock %}
