{% extends 'base.html' %}

{% block title %}
  صدور فاکتور
{% endblock %}
{% block header %}
  صدور فاکتور
{% endblock %}
{% block style %}
<style>
  /* خروج ردیف قدیمی */
  @keyframes slideOutEdit {
    to {
      transform: translateX(120px);
      opacity: 0;
    }
  }


  /* ورود ردیف جدید */
  @keyframes fadeInUpSoft {
    from {
      transform: translateY(12px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .row-edit-exit {
    animation: slideOutEdit 0.35s ease forwards;
  }
  
  .row-edit-enter {
    animation: fadeInUpSoft 0.35s ease, highlightRow 1.2s ease;
  }
  
  @keyframes highlightRow {
    0% { background-color: #ffff99; }
    100% { background-color: transparent; }
  }
  
  
  .row-delete-exit {
    animation: slideOutEdit 0.35s ease forwards;
  }
  

  .btn-add { background-color: #0d6efd; color: white; }
.btn-cancel { background-color: #f8f9fa; color: #333; border: 1px solid #ccc; }
.btn-add:hover { background-color: #0b5ed7; }
.btn-cancel:hover { background-color: #e2e6ea; }

</style>
{% endblock %}

{% block content %}
  <form method="post" action="{% url 'VIP:create_invoice' %}" class="d-flex justify-content-center align-items-center text-center" style="flex-direction:column ;">
    {% csrf_token %}
    <div class="row">
      <div class="col p-3">
        <input class="form-control text-center" name="shop_name" value="هُلو تفلون" required /><br />
        <input class="form-control text-center" name="invoice_type" value="پیش فاکتور" required /><br />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col p-3">
        <label>نام مشتری:</label><br />
        <input class="form-control" name="customer_name" id="customer_name" required autofocus /><br />
      </div>
      <div class="col p-3">
        <label for="invoice_number">شماره فاکتور:</label><br />
        <input class="form-control" name="invoice_number" id="invoice_number" /><br />

        <label for="date">تاریخ:</label><br />
        <input class="form-control" name="date" id="date" required /><br />

        <label for="shop_phone_number">شماره موبایل صاحب فروشگاه:</label><br />
        <input class="form-control" name="shop_phone_number" id="shop_phone_number" value="09123023406" required /><br />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col p-3">
        <label for="name">نام کالا:</label><br />
        <input class="form-control" id="name" list="productList" /><br />

        <datalist id="productList">
          <option value="قابلمه" />
          <option value="تابه" />
          <option value="تابه تک دسته" />
          <option value="تابه دو دسته" />
          <option value="تابه چدن تک دسته" />
          <option value="تابه چدن دو دسته" />
          <option value="قابلمه چدن" />
          <option value="شیرجوش" />
        </datalist>
      </div>
      <div class="col p-3">
        <label for="size">سایز:</label><br />
        <input class="form-control" id="size" type="number" oninput="updatePrice()" /><br />
      </div>
      <div class="col p-3">
        <label for="type">نوع خدمات:</label><br />
        <input class="form-control" id="type" list="typeList" value="بیرون رنگ و داخل گرانیت" oninput="updateOnePrice()" /><br />

        <datalist id="typeList">
          <option value="بیرون رنگ و داخل گرانیت" />
          <option value="دو رو گرانیت" />
          <option value="بیرون رنگ" />
          <option value="داخل گرانیت" />
        </datalist>
      </div>
      <div class="col p-3">
        <label for="qty">تعداد:</label><br />
        <input class="form-control" id="qty" value="1" type="number" oninput="updatePrice()" /><br />
      </div>
      <div class="col p-3">
        <label for="one_price">بهای واحد (ریال):</label><br />
        <input class="form-control" id="one_price" value="125000" type="number" oninput="updatePrice()" /><br />
      </div>
      <div class="col p-3">
        <label for="price">مبلغ کل (ریال):</label><br />
        <input class="form-control" id="price" value="125000" type="number" /><br />
      </div>
    </div>
    <div class="d-flex gap-2 mt-3">
      <a class="btn btn-primary btn-add flex-fill" onclick="add_item()">ثبت کالا</a>
      <a class="btn btn-cancel flex-fill d-none" onclick="cancel_edit()">انصراف</a>
    </div>
        <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ردیف</th>
          <th scope="col">نام کالا</th>
          <th scope="col">سایز</th>
          <th scope="col">نوع خدمات</th>
          <th scope="col">تعداد</th>
          <th scope="col">بهای واحد</th>
          <th scope="col">مبلغ کل</th>
          <th scope="col">ویرایش</th>
          <th scope="col">حذف</th>
        </tr>
      </thead>
      <tbody id="tableTbody"></tbody>
    </table>
    <div class="row">
      <div class="col p-3">
        <label for="discription">توضیحات (زیر 70 کارکتر):</label><br />
        <textarea class="form-control" name="discription" id="discription"></textarea><br />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col p-3 text-end">
        <strong>جمع فاکتور: </strong>
        <span id="total_price">0</span> ریال
      </div>
    </div>
    
    <div class="row">
      <div class="col p-3">
        <label for="discount">تخفیف:</label><br />
        <input class="form-control" name="discount" id="discount" type="number" /><br />
      </div>
      <div class="col p-3">
        <label for="previous_debt">بدهی قبلی:</label><br />
        <input class="form-control" name="previous_debt" id="previous_debt" type="number" /><br />
      </div>
    </div>
    <input name="items" id="items" hidden required />
    <button class="btn btn-primary" type="submit">دریافت PDF فاکتور</button>
  </form>
{% endblock %}

{% block script %}
  <script>
    var items = []
    var isDeleting = false
    let editIndex = null
    let isEditing = false
    
    const name = document.getElementById('name')
    const size = document.getElementById('size')
    const type = document.getElementById('type')
    const qty = document.getElementById('qty')
    const one_price = document.getElementById('one_price')
    const tableTbody = document.getElementById('tableTbody')
    
    function add_item() {
      const newItem = {
        name: name.value,
        size: size.value,
        type: type.value,
        qty: qty.value,
        one_price: one_price.value,
        price: document.getElementById('price').value
      }
    
      // حالت ویرایش
      if (isEditing && editIndex !== null) {
        const row = tableTbody.children[editIndex]
        if (!row) return
    
        // خروج مقدار قدیمی
        row.classList.add('row-edit-exit')
    
        setTimeout(() => {
          items[editIndex] = newItem
          update_items_table(editIndex)
          cancel_edit() // ⬅️ اینجا درست است
        }, 350)
    
        return
      }
    
      // افزودن عادی
      items.push(newItem)
      update_items_table(items.length - 1)
      reset_form()
    }
    
    
    

    function reset_form() {
      name.value = ''
      size.value = ''
      type.value = 'بیرون رنگ و داخل گرانیت'
      qty.value = 1
      one_price.value = 125000
      updatePrice()
    }
    
    
    function edit_item(index) {
      if (isEditing) { showMessage('شما در حال ویرایش کالای دیگری هستید'); return; }
    
      const item = items[index]
    
      name.value = item.name
      size.value = item.size
      type.value = item.type
      qty.value = item.qty
      one_price.value = item.one_price
      document.getElementById('price').value = item.price
    
      editIndex = index
      isEditing = true
    
      document.querySelector('.btn-add').innerText = 'ذخیره تغییرات'
      document.querySelector('.btn-cancel').classList.remove('d-none')
    
      name.focus()
    }
    

    function cancel_edit() {
      reset_form()
      editIndex = null
      isEditing = false
    
      document.querySelector('.btn-add').innerText = 'ثبت کالا'
      document.querySelector('.btn-cancel').classList.add('d-none')
    }
    
    
    function delete_item(el, index) {
      const row = el.closest('tr')
    
      row.classList.add('row-delete-exit')
    
      setTimeout(() => {
        items.splice(index, 1)
        update_items_table()
      }, 350)
    }
    
    
    
    function update_items_table(editedIndex = null) {
      let rows = ''
    
      items.forEach((item, i) => {
        const cls = editedIndex === i ? 'row-edit-enter' : ''
    
        rows += `
          <tr class="${cls}">
            <th>${i + 1}</th>
            <td>${item.name}</td>
            <td>${item.size}</td>
            <td>${item.type}</td>
            <td>${item.qty}</td>
            <td>${item.one_price}</td>
            <td>${item.price}</td>
            <td>
              <a href="javascript:void(0)" onclick="edit_item(${i})">ویرایش</a>
            </td>
            <td>
              <a href="javascript:void(0)" onclick="delete_item(this, ${i})">حذف</a>
            </td>
          </tr>
        `
      })
    
      tableTbody.innerHTML = rows
      document.getElementById('items').value =
      JSON.stringify(items)
    // محاسبه جمع کل
let total = 0
items.forEach(it => {
  total += Number(it.price)
})
document.getElementById('total_price').innerText = total.toLocaleString() // جداکننده هزارگان


    }
    
    
    
    
    function updatePrice() {
      var price = qty.value * one_price.value
      if (size.value) {
        price *= size.value
      }
    
      document.getElementById('price').value = price
    
      return price
    }
    
    function updateOnePrice() {
      if (type.value == 'بیرون رنگ و داخل گرانیت') {
        one_price.value = 125000
      } else if (type.value == 'دو رو گرانیت') {
        one_price.value = 170000
      } else {
        one_price.value = ''
      }
    }
  </script>
{% endblock %}
