{% extends 'base.html' %}
{% block title %}
  صفحه اصلی
{% endblock %}

{% block content %}
  <div class="row">
    {% for page in pages %}
      <div class="col-12 col-md-6 col-lg-4 p-3">
        <div class="card card-hover h-100">
          <div class="card-body">
            <h5 class="card-title">{{ page.name }}</h5>
            <p class="card-text">{{ page.description }}</p>
            <a href="{% if page.internal_link %}
                {% url page.page_url %}
              {% else %}
                {{ page.page_url }}
              {% endif %}"
              class="stretched-link">

            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
